<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>test page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
	<h1 class="display-4">ユーザーページ</h1>
	<h2 class="display-6" th:text="${loginUserName}"></h2>
	<table class="table">
		<tr>
			<th>メールアドレス</th>
			<td th:text="${email}"></td>
		</tr>
		<tr>
			<th>居住地</th>
			<td th:text="${prefecture}"></td>
		</tr>
		<tr>
			<th>活動地域</th>
			<td th:text="${activityPrefectures}"></td>
		</tr>
	</table>
	<a th:href="@{/user/edit/{username}(username=${loginUserName})}">ユーザー情報を変更する</a>
	<h3 class="pt-4">作成したコミュニティ</h3>
	<!--ここにth:eachでコミュニティアカウントを表示する-->
	<a th:href="@{/logout}">ログアウトする</a><br>
</body>
</html>